
.ProfileGeneral {
    background-color: transparent;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
    width: auto;
    text-align: right;
}

.ProfileGeneral img {
    border-radius: 10px;
  display: block;
  margin-left: 70%;
  margin-right: 0%;
  width: 30%;
}

.ProfileGeneral p {
    color: black;
    text-align: end;
    font-size: 32px;
  }

