/* Desktop */
@media (min-width: 500px) {
  .Menu {
    list-style: none;
    display: flex;
    flex-flow: row;
    margin: 0px;
    padding: 0px;
    height: 100%;
    align-items: center;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .Menu {
    list-style: none;
    display: block;
    flex-flow: row;
    margin: 0px;
    padding: 0px;
    align-items: center;
  }
}
